# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment files with credentials
*.env
!*.env.template
*.bak

# Logs
logs/

# Patch
ze_bandwidth_numa_fix/
gpu/bmg/tests/ai_wl/.env
gpu/bmg/tests/ai_wl/.env-wei
